@use 'base/variables' as v;
@use 'base/mixins' as m;


.box{
    margin-top: 6rem;
    .vincular-elementos{
        padding: 4rem 4rem;
        
        margin: 0 auto;
        max-width: 70rem;
        background-color: v.$secundario;
        border-radius: 1rem 1rem 0 0;
        
        img{
            position: relative;

        }
    }
}

.texto-descripcion{

    background-color: v.$cafeClaro;
    border-radius: 0 0 1rem 1rem;
    padding: 2rem 4rem;
    max-width: 70rem;
    margin: 0 auto;

    h3{
        margin: 0;
    }

    .autor {
        text-align: right;
        font-size: 2.4rem;
        color: v.$primario;
        font-family: v.$fuente_cursiva;
    }
}
